body{
background-size: cover;
}

.heading_2{
font-size: 10px;
}

.heading{
font-size: 23px;
width: 100%;
margin: 0px;
}

#start , #number_objects , #status{
font-size: 18px;
}

.copy_rigth_footer{
position: fixed;
color: grey;
bottom: 0px;
width: 100%;
background-color: white;
line-height: 3;
text-align: center;
}

canvas{
border: 2px solid white;
border-radius: 10px;
margin-top: 130px;
box-shadow: 5px 5px 5px white;
}